---
import Manager from '../components/Manager.astro';
import MoneyInput from '../components/MoneyInput.jsx'; // Import the new component
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<Manager />
	</main>
</Layout>
